# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
build/
.DS_Store
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
# design
Design/